<% content_for :title, "Dashboard" %>
<% content_for :page_title, "Dashboard" %>

<div class="boxed">
  <h1>Welcome back, <span class="font-semibold"><%= current_user.username %></span>!</h1>
</div>

<div class="boxed">
  <div>
    <h1 class="text-lg font-semibold mb-1">Daycare Slots</h1>
    <p class="text-muted-foreground">
      This is where you can view all the daycare slots available for your Pokemon.
    </p>
  </div>
</div>

<div class="boxed">
  <div>
    <h1 class="text-lg font-semibold mb-1">Pokemons</h1>
    <p class="text-muted-foreground">
      This is where you can view all the Pokemons you currently have.
    </p>
  </div>
</div>